<div class="productsCard">
  <div class="HomePageCard">
    <mat-toolbar style="background-color: black; color: white; opacity: 0.5">
      <span>My SuperMarket</span>
    </mat-toolbar>
    <app-login></app-login>
    <div>
      <div class="CircleDetails C1">
        <p>
          {{ nOrders }}
        </p>
        <br />
        <h3>Orders!</h3>
      </div>
    </div>
    <div>
      <div class="CircleDetails C2">
        <p>{{ nProducts }}</p>
        <br />
        <h3>products!</h3>
      </div>
    </div>
  </div>
</div>
