.Main {
  color: black;
  height: 100%;
  padding: 0px;
}
.AboutMe {
  border: 1px solid grey;
  color: white;
  font-size: 30px;
  width: 100%;
  height: 100%;
  min-height: 260px;
}
.AboutUsContent {
  border: 1px solid grey;
  margin-left: 10%;
  color: white;
}
.example-events {
  width: 300px;
  height: 200px;
  overflow: auto;
  border: 1px solid #555;
}
#sidenav {
  width: 250px;
}

.HomePageCard {
  height: 100%;
  min-height: 700px;
  width: 100%;
  /* background: url("https://image.freepik.com/free-photo/shopping-cart-is-concrete-podium-has-neon-illuminated-website-icon-back_172660-103.jpg")
    no-repeat; */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  opacity: 1;
}
.CircleDetails {
  width: 200px;
  height: 200px;
  background-color: black;
  /* opacity: 0.5; */
  border-radius: 50%;
  color: #e0bba9;
  border: 10px solid #e0bba9;
  align-items: center;
  justify-content: center;
  display: flex;
  justify-items: center;
  font-size: 30px;
  margin: 3% 10%;
}
.aboutUs {
  background-color: white;
  color: black;
  border-radius: 10%;
  padding: 10px;
  border: 1px solid grey;
  height: 400px;
}

.C1 {
  top: 25%;
  left: 10%;
}
.C2 {
  top: 50%;
  left: 10%;
}
.LoginIconDiv {
  padding: 5%;
  width: 90%;
}

.MainHome {
  background-color: white;
  height: 100%;
}

.LoginIcon {
  color: black;
  font-size: 200px;
  cursor: pointer;
}

.DetailsDiv {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  justify-items: center;
  padding-bottom: 20px;
  text-align: center;
  border-radius: 10%;
  height: 100px;
  font-weight: bolder;
}
div > h1 {
  font-weight: bold;
}
div > h2 {
  color: #b6988bf6;
}
