.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
html {
  scroll-behavior: smooth;
}

#section23 {
  margin-top: 300px;
  height: 90%;
  min-height: 260px;
  position: relative;
}

#section12 {
  position: absolute;
  right: 5%;
  top: 35%;
  background-color: white;
  opacity: 0.5;
  border-radius: 50%;
  color: black;
  border: 10px solid grey;
  align-items: center;
  justify-content: center;
  display: flex;
  justify-items: center;
  height: 200px;
  width: 15%;
}
.AboutMe {
  position: absolute;
  right: 15%;
  bottom: -47%;
  border: 1px solid grey;
  color: white;
  font-size: 30px;
  width: 100%;
  height: 260px;
}
.AboutUsContent {
  border: 1px solid grey;
  margin-left: 10%;
  color: white;
}
.example-events {
  width: 300px;
  height: 200px;
  overflow: auto;
  border: 1px solid #555;
}
#sidenav {
  width: 250px;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.HomePage {
  width: 100%;
  color: black;
  height: 0px;
  background-repeat: no-repeat;
  position: relative;
}
.HomePageCard {
  height: 100%;
  min-height: 750px;
  width: 100%;
  background: url("https://thumbs.dreamstime.com/b/e-commerce-add-to-cart-online-shopping-business-technology-internet-concept-e-commerce-add-to-cart-online-shopping-business-114300739.jpg")
    no-repeat;
  background-size: cover;

  background-attachment: fixed;
  background-position: center;

  opacity: 1;
}
.CircleDetails {
  width: 200px;
  height: 200px;
  background-color: white;
  opacity: 0.5;
  border-radius: 50%;
  color: black;
  border: 10px solid grey;
  position: absolute;
  align-items: center;
  justify-content: center;
  display: flex;
  justify-items: center;
  font-size: 30px;
}
.C1 {
  top: 25%;
  left: 10%;
}
.C2 {
  top: 50%;
  left: 10%;
}

.AA {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  opacity: 1;
}

.Effect::after {
  font: 800 40px system-ui;
  content: counter(count);
  animation: counter 5s linear infinite alternate;
  counter-reset: count 0;
}

@keyframes counter {
  0% {
    counter-increment: count 0;
  }
  10% {
    counter-increment: count 1;
  }
  20% {
    counter-increment: count 2;
  }
  30% {
    counter-increment: count 3;
  }
  40% {
    counter-increment: count 4;
  }
  50% {
    counter-increment: count 5;
  }
  60% {
    counter-increment: count 6;
  }
  70% {
    counter-increment: count 7;
  }
  80% {
    counter-increment: count 8;
  }
  90% {
    counter-increment: count 9;
  }
  100% {
    counter-increment: count 10;
  }
}

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.EffectOrders {
  transition: --num 5s;
  counter-set: num var(--num);
  font: 800 40px system-ui;
}
.EffectOrders::after {
  content: counter(num);
}
.EffectOrders:hover {
  --num: --ONum;
}
