<div class="Main">
  <h1 class="ml-3">HouseMarket</h1>

  <div class="HomePageCard container">
    <div class="row" style="margin-left: 1%">
      <div class="col-12 row" *ngIf="!showLogin">
        <div class="col-12 col-lg-9">
          <app-login (closeLoginEvent)="closeLogin()"></app-login>
        </div>

        <div class="col-lg-3 col-12">
          <div class="aboutUs ContentDiv">
            <h2>Delivering everywhere</h2>
            <div class="row">
              <mat-icon class="col-1">check_box</mat-icon>
              <h4 class="col-8">got alot of products</h4>
            </div>
            <div class="row">
              <mat-icon class="col-1">check_box</mat-icon>
              <h4 class="col-8">saving your time</h4>
            </div>

            <div class="row">
              <mat-icon class="col-1">check_box</mat-icon>
              <h4 class="col-8">
                A central invoice detailing the monthly purchases
              </h4>
            </div>
            <div class="row">
              <mat-icon class="col-1">check_box</mat-icon>
              <h4 class="col-8">
                Payment once a month by bank transfer / check / credit card
              </h4>
            </div>
          </div>
        </div>
       
        <div class="container">
          <div class="col-md-12 row col-12 mt-3">
            <span class="col-12 col-md-2"></span>

            <div class="col-md-3 col-4 DetailsDiv">
              <div>
                <h1 class="mt-3">{{ nOrders }}</h1>
                <h3>Orders</h3>
              </div>
            </div>
            <div class="col-md-3 col-4 ml-5 DetailsDiv">
              <div>
                <h1 class="mt-3">{{ nProducts }}</h1>
                <h3>Products</h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div></div>
      <div class="col-12 LoginMainDiv" *ngIf="showLogin">
        <app-login></app-login>
      </div>
    </div>
  </div>
</div>
