<div class="LoginCard">
  <h1 class="loginName">Login:</h1>
  <!-- <mat-form-field class="example-full-width">
    <mat-label>email:</mat-label>
    <input matInput placeholder="write your email" [(ngModel)]="email" />
  </mat-form-field> -->
  <!-- <mat-form-field class="example-full-width">
    <mat-label>password:</mat-label>
    <input matInput placeholder="write your password" [(ngModel)]="password" />
  </mat-form-field> -->
  <div style="margin-left: 20px">
    <label for="inp" class="inp">
      <input
        [(ngModel)]="email"
        type="text"
        id="inp"
        placeholder="email"
        pattern=".{6,}"
        required
      />
      <svg
        width="185px"
        height="1px"
        viewBox="0 0 280 18"
        class="border"
        style="height: 30px"
      >
        <path
          d="M0,12 L223.166144,12 C217.241379,12 217.899687,12 225.141066,12 C236.003135,12 241.9279,12 249.827586,12 C257.727273,12 264.639498,12 274.514107,12 C281.097179,12 281.755486,12 276.489028,12"
        ></path>
      </svg>
      <svg width="14px" height="12px" viewBox="0 0 14 12" class="check">
        <path d="M1 7 5.5 11 L13 1"></path>
      </svg>
    </label>
  </div>

  <div style="margin-left: 20px">
    <label for="inp" class="inp">
      <input
        [(ngModel)]="password"
        type="password"
        id="inp"
        placeholder="Password"
        pattern=".{3,}"
        required
      />
      <svg
        width="0px"
        height="0px"
        viewBox="0 0 280 18"
        class="border"
        style="height: 30px"
      >
        <path
          d="M0,12 L223.166144,12 C217.241379,12 217.899687,12 225.141066,12 C236.003135,12 241.9279,12 249.827586,12 C257.727273,12 264.639498,12 274.514107,12 C281.097179,12 281.755486,12 276.489028,12"
        ></path>
      </svg>
      <svg width="14px" height="12px" viewBox="0 0 14 12" class="check">
        <path d="M1 7 5.5 11 L13 1"></path>
      </svg>
    </label>
  </div>

  <br />
  <div style="margin: 30px; padding-left: 30px">
    <button mat-raised-button (click)="login()" style="font-size: 30px">
      Login
    </button>
    <label> {{ loginFailed }}</label>
    <button mat-button routerLink="signUp" style="font-size: 20px">
      sign up
    </button>
  </div>
</div>
