<div class="container" style="width: 100%">
  <span>
    <section>
      <div class="row Main">
        <div class="col-1 Icons">
          <mat-icon (click)="prevCate()">navigate_before</mat-icon>
        </div>
        <div class="col-10 row">
          <div
            class="col-12 col-md-4 col-lg-3 col-xl-2"
            *ngFor="let cat of categories"
          >
            <img
              src="../../../assets/highlights/{{ cat.name }}.webp"
              width="100px"
              height="100px"
              (click)="getCategoryId(cat._id)"
            />
            <h3 mat-flat-button style="margin: 10px 10px" class="cateLink">
              {{ cat.name }}
            </h3>
          </div>
        </div>
        <div class="col-1 Icons">
          <mat-icon (click)="nextCate()">navigate_next</mat-icon>
        </div>
      </div>
    </section>
  </span>
</div>
