.MainDiv {
  width: 1000px;
  height: 100%;
}
.Items {
  height: 600px;
  overflow-y: scroll;
}
.DetailsDiv {
  /* width: 100%; */
  width: 400px !important;
  height: 100%;
  margin-top: 50px;
  height: 100%;
  min-height: 550px;
}
