<div class="MainDiv row">
  <div class="col-6 Items">
    <input
      matInput
      placeholder="search"
      [(ngModel)]="filterModel"
      (keyup)="filterOperation()"
      class="mb-5"
      style="border-bottom: 1px solid grey; width: 200px"
    />
    <div class="row">
      <h3 class="col-5">name</h3>
      <h3 class="col-2 ml-4">amount</h3>
      <h3 class="col-3 ml-3">price</h3>
    </div>
    <hr />

    <div *ngFor="let item of filteredItems; index as pIndex">
      <div class="row">
        <div class="col-6">{{ pIndex }} . {{ item.product_id.title }}</div>
        <div class="col-2">
          {{ item.amount }}
        </div>
        <div class="col-4">{{ item.full_price | number: "1.2-2" }}₪</div>
      </div>
      <br />
    </div>
  </div>
  <div class="col-6 DetailsDiv">
    <mat-form-field style="width: 300px !important">
      <input
        matInput
        [min]="minDate"
        [(ngModel)]="deliveryDate"
        [matDatepicker]="picker"
        [matDatepickerFilter]="InvalidDatesFilter"
        placeholder="Choose a date"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br />

    <mat-form-field style="width: 300px">
      <mat-label>visa numbers..</mat-label>
      <input
        matInput
        placeholder="only last 4 visa number"
        type="number"
        [(ngModel)]="visaNumber"
      />
    </mat-form-field>
    <br />
    <mat-form-field style="width: 300px">
      <mat-label>city</mat-label>
      <input matInput placeholder="where you live" [(ngModel)]="city" />
    </mat-form-field>
    <br />
    <mat-form-field style="width: 300px">
      <mat-label>street</mat-label>
      <input matInput placeholder="street.." [(ngModel)]="street" />
    </mat-form-field>
    <br />
    <button mat-raised-button (click)="onNoClick()" class="mt-5">
      Buy Now!
    </button>
    <button class="ml-2" mat-button mat-dialog-close>back</button>
  </div>
</div>
