.productCard {
  /* display:; */
  width: 200px;
  height: 200px;
  /* min-height: 250px; */
  margin-bottom: 80px;
  margin-left: 10px;
}
.mat-card {
  flex-flow: row wrap;
}
.description {
  overflow-y: scroll;
  height: 40px;
  max-width: 150px;
  font-size: 12px;
  position: relative;
  margin-right: 10px;
  /* left: -1px; */
}

.CardName {
  margin-top: 30px;
  margin-left: 30px;
}
.content {
  overflow: inherit;
  overflow-x: hidden;
  height: 70px;
  max-width: 150px;
  font-size: 12px;
  margin-right: 10px;
}
.price {
  margin-left: 30px;
}
