<!-- <div>
  <div class="product productCard">
    <mat-card class="example-card">
      <img
        mat-card-image
        [src]="imagePath"
        style="height: 100px; width: 100px; margin-left: 10px"
      />
      <mat-card-content>
        <mat-card-header>
          <mat-card-title style="font-size: '12px'">{{
            product.title | titlecase
          }}</mat-card-title>
          <mat-card-subtitle>{{ product.category?.name }}</mat-card-subtitle>
        </mat-card-header>
        <p>{{ product.price }}₪</p>
        <h5>
          <p class="description">{{ product.description }}</p>
        </h5>
      </mat-card-content>
      <mat-card-actions style="cursor: pointer">
        <button
          *ngIf="user[0]?.role === 'admin'"
          mat-raised-button
          (click)="updateProduct(product)"
        >
          EDIT
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div> -->

<!-- 
<div class="MainCard">
  <img
    mat-card-image
    [src]="imagePath"
    style="height: 100px; width: 100px; margin-left: 10px; border: none"
  />
  <div class="content">
    <p class="price">** {{ product.price }}₪ **</p>
    {{ product.title }}
  </div>
  <button
    *ngIf="user[0]?.role === 'admin'"
    mat-raised-button
    (click)="updateProduct(product)"
  >
    EDIT
  </button>
  <div class="row"> -->
<!-- <button
      class="col-4"
      *ngIf="user[0]?.role === 'user'"
      mat-raised-button
      (click)="selected = !selected"
    >
      SELECT
    </button> -->
<!-- <div class="AddInfo" *ngIf="user[0]?.role === 'user'">
      <div class="col">
        <mat-icon
          *ngIf="amount > 1"
          (click)="amount = amount - 1"
          class="IconCircle"
          >remove_circle_outline</mat-icon
        >
        <input
          matInput
          type="number"
          name="amount"
          min="1"
          [(ngModel)]="amount"
          class="amount"
        />
        <mat-icon (click)="amount = amount + 1" class="IconCircle"
          >add_circle_outline</mat-icon
        >
        <button
          mat-raised-button
          class="AddButton"
          (click)="AddToCart(product._id, product.price)"
        >
          Add
        </button>
      </div>
    </div>
  </div>
</div> -->

<div class="product">
  <div class="container">
    <div class="container-inner">
      <img
        class="img img1"
        style="width: 220px; height: 200px"
        [src]="imagePath"
      />
    </div>
  </div>
  <div>
    <p class="price">{{ product.price }}₪</p>
    <p style="margin-left: 60px">{{ product.title }}</p>
  </div>
  <div>
    <button
      *ngIf="user[0]?.role === 'admin'"
      mat-raised-button
      (click)="updateProduct(product)"
    >
      EDIT
    </button>
  </div>
  <div class="AddInfo" *ngIf="user[0]?.role === 'user'">
    <div class="col">
      <mat-icon
        *ngIf="amount > 1"
        (click)="amount = amount - 1"
        class="IconCircle"
        >remove_circle_outline</mat-icon
      >
      <input
        matInput
        type="number"
        name="amount"
        min="1"
        [(ngModel)]="amount"
        class="amount"
      />
      <mat-icon (click)="amount = amount + 1" class="IconCircle"
        >add_circle_outline</mat-icon
      >
      <button
        mat-raised-button
        class="AddButton"
        (click)="AddToCart(product._id, product.price)"
      >
        {{ ActionName }}
      </button>
    </div>
  </div>
</div>
