.MainContent {
  animation: FadeIn 3s;
}
.titleDiv {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
  padding-bottom: 11px;
}

.Image {
  width: 170px;
  height: 170px;
  margin-left: 10px;
  margin-top: 10px;
}
.Main {
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 200px;
}

.SecondPrice {
  position: absolute;
  top: -10px;
  right: 100px;
}
.priceContainer {
  position: relative;
}
.priceF {
  width: 100%;
  height: auto;
  background-color: violet;
}

.mat-slider-thumb {
  color: tomato;
}

.ActionButton {
  padding: 0px 10px;
  color: black;
  align-items: center;
  border-bottom: solid 3px #e0bba9;
  border-radius: 5px;
  width: 180px;
}
.ActionButton:hover {
  /* background-color: #e0bba9; */
}

.Title {
  color: black;
  position: absolute;
  left: 0px;
  max-width: 200px;
  font-weight: bolder;
}
.Price {
  position: relative;
  margin-left: 20%;
}
.SecondPrice {
  /* position: absolute;
  top: 0px;
  left: 40px; */
  /* margin-left: 40px; */
  /* margin-bottom: 30px; */
}
.SlideIcon {
  font-size: 4px;
  width: 5px;
  cursor: pointer;
  height: 5px;
}
.ProductCard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
  padding-bottom: 11px;
  width: 100%;
}

/* animation: FadeIn 4s;
   background: white;
  background: linear-gradient(
    rgba(225, 225, 225, 0.7),
    rgba(225, 225, 225, 0.3)
  );
  backdrop-filter: blur(2rem); */
.ProductCard1:hover img {
  animation: ImageEffect 2s;
}

.ProductCard:hover {
  border: 1px solid black;
}
img {
  border-radius: 10px;
  width: 70%;
  height: 60%;
  margin-left: 6px;
}
mat-card-content > span {
  font-size: 17px;
  margin-top: 10px;
}
.Arrow {
  width: 5px;
  height: 5px;
  /* margin-bottom: 10px; */
  cursor: pointer;
}
.ArrowDown {
  position: absolute;
  top: 20px;
  left: 15px;
}
.amount {
  margin-top: 10px;
}

.ArrowDiv {
  position: relative;
  margin-right: 10px;
}
.ProductCard3:hover img {
  animation: ImageEffect 0.2s;
}

@keyframes ImageEffect {
  from {
  }
  to {
    /* width: 300px;
     */
    padding: 20px;
  }
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
  padding-bottom: 11px;
}

::ng-deep .mat-card-header-text {
  margin: 0 auto !important;
}

.description {
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

mat-card-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

::ng-deep .mat-card {
  border: none;
}
.mat-card:not([class*="mat-elevation-z"]) {
  box-shadow: none;
  background-color: rgb(255, 249, 249);
}
.mat-card:hover:not([class*="mat-elevation-z"]) {
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 50%);
  background: #f7f0f2;
  backdrop-filter: blur(40px);
}

.MainContent {
  border: 1px solid transparent;
  border-right-color: #dbe1f0;
  border-left-color: #dbe1f0;
}
/* .MainContent:hover .ActionButton {
  display: inline-block;
} */

hr {
  color: grey;
}
