.product:hover .title {
  animation: fadeIn 3s;
}

.Image {
  width: 170px;
  height: 170px;
  margin-left: 10px;
  margin-top: 10px;
}
.Main {
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 200px;
}

.SecondPrice2 {
  position: absolute;
  bottom: 60px;
  margin-left: 45px;
}

.mat-slider-thumb {
  color: tomato;
}

.ActionButton {
  width: 100%;
  padding: 0px 10px;
}

.Title {
  color: black;
  position: absolute;
  left: 0px;
  max-width: 200px;
  font-weight: bolder;
}
.Price {
  position: relative;
}
.SecondPrice {
  position: absolute;
  top: 0px;
  margin-left: 40px;
  /* margin-bottom: 30px; */
}
.SlideIcon {
  font-size: 4px;
  width: 5px;
  cursor: pointer;
  height: 5px;
}
.ProductCard {
  border-radius: 20px;
  width: 100%;
  animation: FadeIn 4s;
  background: white;
  background: linear-gradient(
    rgba(225, 225, 225, 0.7),
    rgba(225, 225, 225, 0.3)
  );
  backdrop-filter: blur(2rem);
}
.ProductCard:hover img {
  animation: ImageEffect 2s;
}
img {
  border-radius: 10px;
  width: 60%;
  height: 100px;
  margin-left: 6px;
}
.Arrow {
  width: 5px;
  height: 5px;
  /* margin-bottom: 10px; */
  cursor: pointer;
}
.ArrowDown {
  position: absolute;
  top: 20px;
  left: 15px;
}
.amount {
  margin-top: 10px;
}

.ArrowDiv {
  position: relative;
  margin-right: 10px;
}
.ProductCard:hover img {
  animation: ImageEffect 0.2s;
}

@keyframes ImageEffect {
  from {
  }
  to {
    /* width: 300px;
     */
    padding: 20px;
  }
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
