
<div class="MainContent">
  <mat-card>
    <img class="mt-2" mat-card-image [src]="imagePath" />
    <mat-card-header>
      <mat-card-title
        ><h2>₪{{ product.price | number: "1.2-2" }}</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <span>{{ product.title | titlecase }}</span>
      <p class="description">{{ product.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <span></span>
      <button
        *ngIf="this.userRole === 'user'"
        mat-button
        class="ActionButton"
        (click)="AddToCart(product._id, product.price)"
      >
        {{ ActionName }}
      </button>

      <button
        *ngIf="this.userRole === 'admin'"
        class="ActionButton"
        mat-raised-button
        (click)="updateProduct(product)"
      >
        EDIT
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<hr />
