<!-- <div>
  <div class="product productCard">
    <mat-card class="example-card">
      <img
        mat-card-image
        [src]="imagePath"
        style="height: 100px; width: 100px; margin-left: 10px"
      />
      <mat-card-content>
        <mat-card-header>
          <mat-card-title style="font-size: '12px'">{{
            product.title | titlecase
          }}</mat-card-title>
          <mat-card-subtitle>{{ product.category?.name }}</mat-card-subtitle>
        </mat-card-header>
        <p>{{ product.price }}₪</p>
        <h5>
          <p class="description">{{ product.description }}</p>
        </h5>
      </mat-card-content>
      <mat-card-actions style="cursor: pointer">
        <button
          *ngIf="user[0]?.role === 'admin'"
          mat-raised-button
          (click)="updateProduct(product)"
        >
          EDIT
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div> -->

<!-- 
<div class="MainCard">
  <img
    mat-card-image
    [src]="imagePath"
    style="height: 100px; width: 100px; margin-left: 10px; border: none"
  />
  <div class="content">
    <p class="price">** {{ product.price }}₪ **</p>
    {{ product.title }}
  </div>
  <button
    *ngIf="user[0]?.role === 'admin'"
    mat-raised-button
    (click)="updateProduct(product)"
  >
    EDIT
  </button>
  <div class="row"> -->
<!-- <button
      class="col-4"
      *ngIf="user[0]?.role === 'user'"
      mat-raised-button
      (click)="selected = !selected"
    >
      SELECT
    </button> -->
<!-- <div class="AddInfo" *ngIf="user[0]?.role === 'user'">
      <div class="col">
        <mat-icon
          *ngIf="amount > 1"
          (click)="amount = amount - 1"
          class="IconCircle"
          >remove_circle_outline</mat-icon
        >
        <input
          matInput
          type="number"
          name="amount"
          min="1"
          [(ngModel)]="amount"
          class="amount"
        />
        <mat-icon (click)="amount = amount + 1" class="IconCircle"
          >add_circle_outline</mat-icon
        >
        <button
          mat-raised-button
          class="AddButton"
          (click)="AddToCart(product._id, product.price)"
        >
          Add
        </button>
      </div>
    </div>
  </div>
</div> -->
<!-- 
<div class="product" *ngIf="userRole === 'user'">
  <div class="container">
    <div class="container-inner">
      <img
        class="img img1"
        style="width: 300px; height: 300px"
        [src]="imagePath"
      />
    </div>
  </div>
  <div style="margin-left: 60px; position: relative">
    <div class="PriceDiv row">
      <div class="col-2">
        <p class="price">₪{{ Price.first }}.</p>
        <p class="secondPrice">{{ Price.second }}</p>
      </div>
      <div class="AddInfo col-6">
        <div class="col">
          <input
            matInput
            type="number"
            name="amount"
            min="1"
            [(ngModel)]="amount"
            class="amount"
          />
          <p class="AddIcon">
            <mat-icon (click)="amount = amount + 1" class="IconCircle"
              >add</mat-icon
            >
          </p>
          <p class="RemoveIcon" *ngIf="amount > 1">
            <mat-icon (click)="amount = amount - 1" class="IconCircle"
              >remove</mat-icon
            >
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p style="margin-left: 80px">{{ product.title | titlecase }}</p>
        </div>
      </div>
      <div style="position: relative" class="col-12">
        <button
          mat-raised-button
          class="AddButton"
          (click)="AddToCart(product._id, product.price)"
        >
          {{ ActionName }}
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="userRole === 'admin'" class="product">
  <div>
    <img
      style="width: 200px; height: 200px; margin-top: 0px"
      [src]="imagePath"
    />
  </div>
  <div class="row">
    <div class="col-12">
      <p style="margin-left: 30px">{{ product.title | titlecase }}</p>
    </div>
  </div>
  <div>
    <button mat-raised-button (click)="updateProduct(product)">EDIT</button>
  </div>
</div> -->

<mat-card class="ProductCard">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <div class="row TitleDiv">
      <mat-card-subtitle class="Title col-9">{{
        product.title | titlecase
      }}</mat-card-subtitle>
    </div>
  </mat-card-header>
  <div class="">
    <img class="" [src]="imagePath" />
  </div>
  <mat-card-content>
    <div *ngIf="this.userRole === 'user'">
      <!-- <div class="row">
        <mat-slider
          thumbLabel
          tickInterval="1000"
          step="1"
          min="1"
          max="100"
          aria-label="units"
          [(ngModel)]="amount"
          class="col-4 ml-4"
        ></mat-slider>
        <div class="col-1 ArrowDiv">
          <mat-icon class="Arrow" (click)="amount = amount + 1"
            >keyboard_arrow_up</mat-icon
          >
          <mat-icon
            *ngIf="amount > 1"
            class="Arrow ArrowDown"
            (click)="amount = amount - 1"
            >keyboard_arrow_down</mat-icon
          >
        </div>
        <p class="col-2 amount">{{ amount }}</p>
      </div> -->
      <div class="Price mt-3">
        <h2>₪{{ Price.first }}</h2>
        <p class="SecondPrice">{{ Price.second }}</p>
      </div>
      <div>
        <button
          mat-raised-button
          class="ActionButton"
          (click)="AddToCart(product._id, product.price)"
        >
          {{ ActionName }}
        </button>
      </div>
    </div>
    <div *ngIf="this.userRole === 'admin'">
      <button
        class="ActionButton"
        mat-raised-button
        (click)="updateProduct(product)"
      >
        EDIT
      </button>
    </div>
  </mat-card-content>
</mat-card>
