.Add_Card {
  margin-left: 30px;
}

.formCss {
  margin-left: 20px;
  margin-right: 20px;
}

.AddIcon {
  cursor: pointer;
  position: absolute;
  right: 1px;
}

.ResetButton {
  margin-left: 10px;
}
