<div class="formCss">
  <h1>{{ this.ActionName }} Product</h1>
  <form [formGroup]="productForm">
    <div class="AddIcon">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        (click)="resetProduct()"
        >add</mat-icon
      >
    </div>
    <div>
      <mat-form-field>
        <input
          matInput
          type="text"
          name="name"
          formControlName="productName"
          placeholder="name "
        />
        <mat-error *ngIf="productForm.get('productName').invalid"
          >please insert product name
        </mat-error>
      </mat-form-field>
      <br />

      <mat-form-field>
        <mat-select
          name="category"
          formControlName="category"
          placeholder="category"
          [(value)]="SelectedCategory"
        >
          <mat-option
            *ngFor="let category of categoryArray"
            [value]="category._id"
          >
            {{ category.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="productForm.get('category').invalid"
          >please insert product category
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <input
          matInput
          type="text"
          name="description"
          formControlName="productDescription"
          placeholder="description "
        />
        <mat-error *ngIf="productForm.get('productDescription').invalid"
          >please insert product description
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <input
          matInput
          type="number"
          name="price"
          formControlName="productPrice"
          placeholder="price "
          value="product.price"
        />
        <mat-error *ngIf="productForm.get('productPrice').invalid"
          >please insert product price
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <input
          matInput
          type="text"
          name="picture"
          formControlName="productImage"
          placeholder="picture"
        />
        <mat-error *ngIf="productForm.get('productImage').invalid"
          >please insert product picture
        </mat-error>
      </mat-form-field>
      <br />
      <br />

      <button mat-raised-button color="primary" (click)="ActionProduct()">
        {{ ActionName }} product
      </button>
      <button
        mat-raised-button
        color="primary"
        class="ResetButton"
        (click)="resetProduct()"
      >
        Reset
      </button>
      <br />

    </div>
  </form>
</div>
