<!-- <p>cart works!</p>

<h1>
  {{ items[0]?.product_id.title }}
</h1> -->

<div style="width: 300px">
  <div *ngFor="let item of items; index as pIndex">
    <div class="row">
      <div class="col-7" style="margin-left: 7px">
        {{ pIndex + 1 }}. {{ item.product_id.title }}:
        <div>
          quantity: {{ item.amount }} , price: {{ item.product_id.price }}
          ₪
        </div>
      </div>

      <img
        class="col-3"
        src="{{ this.basePath }}/{{ item.product_id.filename }}"
        style="width: 70px; height: 70px"
      />
      <p (click)="DeleteItemFromCart(item._id)" style="cursor: pointer">X</p>
    </div>

    <hr />
  </div>

  <h2>total price:{{ fullPrice | number: "1.2-2" }}₪</h2>
  <br />
  <button mat-raised-button (click)="openDialog()">Order details</button>
</div>
