<div class="m">
  <div class="c">
    <mat-icon class="col-6 ShoppingCart" style="font-size: 40px"
      >shopping_cart
    </mat-icon>
  </div>
  <p class="NItems">{{ items.length }}</p>
  <div class="items">
    <div *ngFor="let item of items; index as pIndex" class="FixedDiv">
      <hr />

      <div class="row item" style="height: 100%">
        <div class="col-4">
          <img
            src="{{ this.basePath }}/{{ item.product_id.filename }}"
            class="Image"
          />
        </div>
        <div class="col-5">
          <h4 style="font-family: 'Kalam', cursive">
            {{ item.product_id.title }}
          </h4>
          <h4 style="font-family: 'Kalam', cursive">
            {{ item.amount }} | {{ item.full_price | number: "1.2-2" }}₪
          </h4>
        </div>
        <div class="col-2">
          <mat-icon
            (click)="DeleteItemFromCart(item._id)"
            style="cursor: pointer; color: black"
            class="Delete"
            >delete_forever</mat-icon
          >
          <br />
          <h5
            style="margin: 20px 10px; cursor: pointer"
            (click)="EditItemAmount(item)"
          >
            <mat-icon>edit</mat-icon>
          </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="b">
    <div class="OrderDiv row">
      <button class="button col-8" (click)="openDialog()">
        <span> Order now </span>
      </button>
      <h3 class="col-3 fullPrice">{{ fullPrice | number: "1.2-2" }}₪</h3>
    </div>
  </div>
</div>
