<div class="m">
  <div class="c row">
    <mat-icon
      class="col-2"
      matBadge="{{ items.length }}"
      style="font-size: 30px; color: rgba(46, 43, 43, 0.733)"
      >shopping_cart</mat-icon
    >
    <h2
      *ngIf="items.length"
      class="col-3"
      style="cursor: pointer"
      (click)="clearCart()"
    >
      <mat-icon>refresh</mat-icon>
    </h2>
  </div>
  <!-- <p class="NItems">{{ items.length }}</p> -->

  <div class="items">
    <div class="Null" *ngIf="!items.length">
      <h2>you cart is empty!</h2>

      <mat-icon>hourglass_empty</mat-icon>
    </div>
    <div *ngFor="let item of items; index as pIndex" class="FixedDiv">
      <div class="row item" style="height: 100%">
        <div class="col-4">
          <img
            src="{{ this.basePath }}/{{ item.product_id.filename }}"
            class="Image"
          />
        </div>
        <div class="col-6">
          <h4 style="font-family: 'Kalam', cursive">
            {{ item.product_id.title }}
          </h4>
          <h4 style="font-family: 'Kalam', cursive">
            <mat-icon style="font-size: 12px">close</mat-icon>{{ item.amount }}
            <span *ngIf="item.product_id.category == '6091d3f715858c0954951892'"
              >kg</span
            >
            | {{ item.full_price | number: "1.2-2" }}₪
          </h4>
        </div>
        <div class="col-1">
          <mat-icon
            (click)="DeleteItemFromCart(item)"
            style="cursor: pointer; color: rgba(46, 43, 43, 0.733)"
            class="Delete"
            >delete_forever</mat-icon
          >
          <br />
          <h5
            style="
              margin: 20px -10px;
              cursor: pointer;
              color: rgba(54, 53, 53, 0.733);
            "
            (click)="EditItemAmount(item)"
          >
            <mat-icon>edit</mat-icon>
          </h5>
        </div>
      </div>
      <hr />
    </div>
  </div>
  <div class="b">
    <div class="OrderDiv row">
      <button class="button col-7" (click)="openDialog()">
        <span> Order now </span>
      </button>
      <h3 class="col-4 fullPrice">{{ fullPrice | number: "1.2-2" }}₪</h3>
    </div>
  </div>
</div>
