.MainDiv {
  background-color: rgb(255, 255, 255);
}
.productsCard {
  margin-left: 20px;
}

.Menu {
  /* position: absolute;
  right: 0%;
  top: 0px;
  background-color: black;
  max-width: 1250px; */
  max-width: 100%;
  width: 1400px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.toolbar {
  background-color: #e0bba9d3;
}

.All {
  color: rgb(89, 152, 194);
  margin-left: 300px;
  cursor: pointer;
  margin-top: 8px;
  position: relative;
}

#sidenav {
  width: 250px;
}

.ContainerMat {
  position: relative;
  /* height: 1000px; */
  display: inline;
}
.Side {
  position: fixed;
  height: 85%;
  margin-top: 63px;
  border-top: 1px solid rgb(173, 173, 173);
  border-radius: 4%;
}

.SideButton {
  position: absolute;
  left: 260px;
  /* background-color: chartreuse; */
  color: grey;
}
.SideButton2 {
  position: fixed;
  cursor: pointer;
  color: grey;

  /* margin-left: 100px; */
}
.cancelButton {
  margin-left: 260px;
  /* opacity: 0.5;   */

  color: rgba(46, 43, 43, 0.733);
  height: 32px;
}

.CartIcon {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  justify-content: center;
  font-size: 40px;
  margin-left: 10px;
  color: #bb9c8cf5;
  backdrop-filter: blur(40px);
}
.NextAndPref {
  font-size: 20px;
  background-color: none;
  background: none;
}

.mat-button-focus-overlay {
  background: none;
}
.ToolBarServices {
  /* margin-left: 30%; */
  color: black;
  cursor: pointer;
  font-size: 15px;
}
.ToolBarA {
  /* margin-left: 2%; */
  color: black;
  cursor: pointer;
  font-size: 15px;
}
.OrdersButton {
  margin-top: 8px;
  cursor: pointer;
  color: black;
}

.OrdersButton :hover {
  color: black;
}
.Content {
  display: none;
  background-color: #e0bba9;
  color: black;
  /* width: 300px; */
  border-radius: 15%;
  font-size: 15px;
}
td,
tr {
  margin-left: 20%;
}

#Delivery:hover .ContentDelievery {
  display: block;

  position: fixed;
  z-index: 100;
}
#Services:hover .ServicesContent {
  display: block;
  position: fixed;
  z-index: 100;
}
#Contact:hover .ContentContact {
  display: block;

  position: fixed;
  z-index: 100;
}

@media only screen and (max-width: 600px) {
  .Side {
    position: relative;
    padding: 50px;
    margin-top: 20px;
  }
  .ToolBarServices {
    margin-top: 20px;
  }
  .ToolBarA {
    margin-top: 18px;
  }
  .SlideImages {
    margin-top: 10px;
  }
}
