<div>
  <div
    class="example-container"
    [class.example-is-mobile]="mobileQuery.matches"
  >
    <mat-toolbar
      style="background-color: white; color: black"
      class="example-toolbar"
    >
      <button mat-icon-button (click)="snav.toggle(); showCartIcon = false">
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="example-app-name">HouseMarket</h1>
      <button mat-icon-button class="ExitButton" (click)="SignOut()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-toolbar>

    <mat-sidenav-container
      class="example-sidenav-container ContainerMat"
      [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
      autosize
    >
      <mat-sidenav
        class="Side"
        #snav
        opened
        [mode]="mobileQuery.matches ? 'over' : 'side'"
        [fixedInViewport]="mobileQuery.matches"
        fixedTopGap="56"
      >
        <mat-nav-list style="padding-top: 0px">
          <div *ngIf="user[0]?.role === 'admin'" class="Cart">
            <button
              class="cancelButton"
              mat-icon-button
              (click)="snav.toggle(); showCartIcon = true"
            >
              <mat-icon>cancel</mat-icon>
            </button>
            <app-productAction
              [product]="productToUpdate"
              (updateProductEvent)="editProduct($event)"
              (addNewProductEvent)="addNewProduct($event)"
            >
            </app-productAction>
            <h1>
              {{ actionState }}
            </h1>
          </div>

          <div *ngIf="user[0]?.role === 'user'">
            <button
              class="cancelButton"
              mat-icon-button
              (click)="snav.toggle(); showCartIcon = true"
            >
              <mat-icon>cancel</mat-icon>
            </button>
            <app-cart
              [userId]="this.user[0]._id"
              [cartId]="this.cartId"
            ></app-cart>
          </div>
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content style="overflow-x: hidden">
        <div *ngIf="showCartIcon === true" class="SideButton2">
          <mat-icon
            *ngIf="user[0]?.role === 'user'"
            (click)="snav.toggle(); showCartIcon = false"
            class="CartIcon"
            >shopping_cart</mat-icon
          >
          <mat-icon
            class="CartIcon"
            *ngIf="user[0]?.role === 'admin'"
            (click)="snav.toggle(); showCartIcon = false"
            >chrome_reader_mode</mat-icon
          >
        </div>

        <app-slide-images></app-slide-images>

        <div style="margin-left: 15%" class="row mt-2">
          <h2 class="col-1 col-sm-1 mt-3">
            <mat-icon>search</mat-icon>
          </h2>

          <mat-form-field class="example-full-width col-9 col-sm-3 mr-5">
            <mat-label>search</mat-label>
            <input
              matInput
              placeholder="product name"
              [(ngModel)]="filterModel"
              (keyup)="getProducts(filterModel, 'title')"
            />
          </mat-form-field>
        </div>
        <div>
          <div class="row mt-2" style="margin-left: 10%">
            <a
              (click)="getProducts('All')"
              mat-flat-button
              class="col-4 col-md-1"
              style="color: black; height: 100%; margin-top: 30px"
              >All</a
            >
            <app-categories
              class="col-12 col-md-8"
              (categoryIdEvent)="getProducts($event, '_id')"
            ></app-categories>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <app-product
              class="col-md-3 col-sm-6 col-12 mt-5"
              *ngFor="let product of filterProducts"
              [product]="product"
              [cartId]="cartId"
              (updateProductEvent)="getProductDetails($event)"
              (AddItemsToCartEvent)="addItemsToCart($event)"
            ></app-product>
          </div>
        </div>
        <div style="margin-top: 50px">
          <button class="NextAndPref" (click)="prev()" mat-button>
            <mat-icon>navigate_before</mat-icon>Prev
          </button>
          <button
            class="NextAndPref"
            (click)="next()"
            style="float: right"
            mat-button
          >
            Next <mat-icon>navigate_next</mat-icon>
          </button>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
