<div>
  <div
    class="example-container"
    [class.example-is-mobile]="mobileQuery.matches"
  >
    <mat-toolbar style="background-color: grey" class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="example-app-name">Supermarket App</h1>
    </mat-toolbar>

    <mat-sidenav-container
      class="example-sidenav-container"
      [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
    >
      <mat-sidenav
        #snav
        [mode]="mobileQuery.matches ? 'over' : 'side'"
        [fixedInViewport]="mobileQuery.matches"
        fixedTopGap="56"
      >
        <mat-nav-list>
          <div *ngIf="user[0]?.role === 'admin'">
            <app-productAction
              [product]="productToUpdate"
              (updateProductEvent)="editProduct($event)"
              (addNewProductEvent)="addNewProduct($event)"
            >
            </app-productAction>
            <h1>
              {{ actionState }}
            </h1>
          </div>

          <div *ngIf="user[0]?.role === 'user'">
            <app-cart
              [items]="this.items"
              [fullPrice]="this.fullPrice"
              [userId]="this.user[0]._id"
              [cartId]="this.cartId"
              (deleteCartItemEvent)="deleteCartItem($event)"
            ></app-cart>
          </div>
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content style="overflow-x: hidden">
        <div style="margin-left: 50px" class="row">
          <h2 style="margin-left: 5px" class="col-1">Menu:</h2>

          <mat-form-field class="example-full-width col-2">
            <mat-label>search</mat-label>
            <input
              matInput
              placeholder="product name"
              [(ngModel)]="filterModel"
              (keyup)="getProducts(filterModel, 'title')"
            />
          </mat-form-field>
        </div>
        <div>
          <div class="row" style="margin-left: 120px">
            <a
              (click)="getProducts()"
              mat-flat-button
              class="col-1"
              style="color: rgb(89, 152, 194)"
              >All</a
            >
            <app-categories
              (categoryIdEvent)="getProducts($event, '_id')"
              class="col-5"
            ></app-categories>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <app-product
              *ngFor="let product of filterProducts"
              [product]="product"
              (updateProductEvent)="updateProduct($event)"
              (AddItemsToCartEvent)="addItemsToCart($event)"
            ></app-product>
          </div>

          <div style="margin-top: 50px">
            <button (click)="prev()" mat-button>Prev</button>
            <button (click)="next()" style="float: right" mat-button>
              Next
            </button>
          </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
