.MainDiv {
  background-color: rgb(255, 249, 249);
}
.productsCard {
  margin-left: 20px;
}
.AllCategory {
  color: black;
  height: 100%;
  margin-top: 30px;
  font-size: 16px;
  background-color: rgb(255, 249, 249);
  font-family: "Caveat", cursive;
}

.Menu {
  /* position: absolute;
  right: 0%;
  top: 0px;
  background-color: black;
  max-width: 1250px; */
  max-width: 100%;
  width: 1400px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.toolbar {
  /* background-color: #e0bba9d3; */
  background-color: #e4c8bc;
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.All {
  color: rgb(89, 152, 194);
  margin-left: 300px;
  cursor: pointer;
  margin-top: 8px;
  position: relative;
}

#sidenav {
  width: 250px;
}

.ContainerMat {
  position: relative;
  /* height: 1000px; */
  display: inline;
}
.Side {
  position: fixed;
  height: 85%;
  margin-top: 70px;
  border-top: 1px solid rgb(173, 173, 173);
  border-radius: 4%;
}

.SideButton {
  position: absolute;
  left: 260px;
  /* background-color: chartreuse; */
  color: grey;
}
.SideButton2 {
  position: fixed;
  cursor: pointer;
  color: grey;

  /* margin-left: 100px; */
}
.cancelButton {
  margin-left: 260px;
  /* opacity: 0.5;   */

  color: rgba(46, 43, 43, 0.733);

  height: 32px;
}

.CartIcon {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  justify-content: center;
  font-size: 40px;
  margin-left: 10px;
  color: #aa8f82f5;
  backdrop-filter: blur(40px);
}
.NextAndPref {
  font-size: 20px;
  background-color: none;
  background: none;
}

.mat-button-focus-overlay {
  background: none;
}
.ToolBarServices {
  /* margin-left: 30%; */
  color: black;
  cursor: pointer;
  font-size: 15px;
}
.ToolBarA {
  /* margin-left: 2%; */
  color: black;
  cursor: pointer;
  font-size: 15px;
}
.OrdersButton {
  margin-top: 8px;
  color: black;
}

.OrdersButton :hover {
  color: black;
}
.Content {
  display: none;
  background-color: #e0bba9;
  color: black;
  /* width: 300px; */
  border-radius: 15%;
  font-size: 15px;
}
td,
tr {
  margin-left: 20%;
}
mat-label,
.Search {
  font-family: inherit;
}
.SearchIcon {
  margin-top: 30px;
  font-size: 23px;
}

.Sub {
  width: 100%;
  height: 400px;
  display: flex;
  align-content: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}
.Title {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 40px;
}

#Delivery:hover .ContentDelievery {
  display: block;
  position: fixed;
  z-index: 100;
}
#Services:hover .ServicesContent {
  display: block;
  position: fixed;
  z-index: 100;
}
#Contact:hover .ContentContact {
  display: block;

  position: fixed;
  z-index: 100;
}

.cat-icon > img {
  width: 60px;
  height: 60px;
}

.categories-area {
  padding-top: 100px;
  padding-bottom: 50px;
  position: relative;
  background: #f2e1d9;
}

@media only screen and (max-width: 600px) {
  .Side {
    position: relative;
    padding: 50px;
    margin-top: 20px;
  }
  .ToolBarServices {
    margin-top: 20px;
  }
  .ToolBarA {
    margin-top: 18px;
  }
  .SlideImages {
    /* margin-top: 10px; */
  }
}
