<div class="MainDiv">
  <div
    class="example-container"
    [class.example-is-mobile]="mobileQuery.matches"
  >
    <mat-toolbar class="example-toolbar toolbar row">
      <button
        mat-icon-button
        (click)="snav.toggle(); showCartIcon = !showCartIcon"
        class="col-1"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="example-app-name col-xl-2 col-lg-2 col-md-2 col-4">
        HouseMarket
      </h1>

      <div class="col-xl-3 col-lg-3 col-md-5 col-5 row">
        <h2 class="col-1 col-sm-1">
          <mat-icon class="SearchIcon">search</mat-icon>
        </h2>
        <div class="col-6">
          <mat-form-field class="example-full-width">
            <mat-label>search</mat-label>
            <input
              class="Search"
              matInput
              placeholder="product name"
              [(ngModel)]="filterModel"
              (keyup)="getProducts(filterModel, 'title')"
            />
          </mat-form-field>
        </div>

        <!-- <mat-form-field class="example-full-width">
          <mat-label>search</mat-label>
          <input
            matInput
            placeholder="product name"
            [(ngModel)]="filterModel"
            (keyup)="getProducts(filterModel, 'title')"
          />
        </mat-form-field> -->
        <!-- <div class="row mt-2">
          <h2 class="col-1 col-sm-1 mt-3">
            <mat-icon>search</mat-icon>
          </h2>

          <mat-form-field class="example-full-width">
            <mat-label>search</mat-label>
            <input
              matInput
              placeholder="product name"
              [(ngModel)]="filterModel"
              (keyup)="getProducts(filterModel, 'title')"
            />
          </mat-form-field> -->
        <!-- </div> -->
      </div>
      <!-- 
      <a class="ToolBarServices col-4 col-lg-1 col-md-2" id="Services">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-info-circle-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"
          />
        </svg>
        Services
        <div class="Content ServicesContent">
          <h3 class="ml-2">Call us : +972 543596761</h3>
        </div></a
      >
      <a class="ToolBarA col-lg-1 col-md-2 col-4" id="Delivery"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-truck"
          viewBox="0 0 16 16"
        >
          <path
            d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
          />
        </svg>
        Delivery
        <div class="Content ml-2 ContentDelievery col-lg-3 col-md-2 col-6">
          <table style="width: 100%">
            <tr>
              <th>Day</th>
              <th>From</th>
              <th>To</th>
            </tr>
            <tr>
              <td>Sunday</td>
              <td>10:00</td>
              <td>18:00</td>
            </tr>
            <tr>
              <td>Monday</td>
              <td>10:00</td>
              <td>18:00</td>
            </tr>
            <tr>
              <td>Tuesday</td>
              <td>10:00</td>
              <td>18:00</td>
            </tr>

            <tr>
              <td>Wednesday</td>
              <td>10:00</td>
              <td>20:00</td>
            </tr>
            <tr>
              <td>Thursday</td>
              <td>10:00</td>
              <td>20:00</td>
            </tr>
            <tr>
              <td>Friday</td>
              <td>9:00</td>
              <td>13:00</td>
            </tr>
          </table>
        </div>
      </a>
      <a class="ToolBarA col-lg-1 col-md-2 col-4" id="Contact">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-person-lines-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"
          />
        </svg>
        Contact us
        <div class="Content ContentContact">
          <div class="ml-2">
            <h5 style="font-size: 16px">Send feedback:</h5>
            <div>
              <input
                matInput
                style="
                  margin: 3px 5px;
                  width: 60%;
                  border-bottom: 1px solid white;
                "
                placeholder="message"
              />
              <button mat-button style="margin-left: 5px; margin-bottom: 10px">
                Send
              </button>
            </div>
          </div>
        </div></a
      > -->
      <div class="col-xl-2 col-lg-2 col-md-4 col-4 OrdersButton">
        <div *ngIf="this.user[0]?.role !== 'admin'">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            enable-background="new 0 0 24 24"
            height="24px"
            viewBox="0 0 24 24"
            width="24px"
            fill="#000000"
          >
            <rect fill="none" height="24" width="24" />
            <path
              d="M19,5v9l-5,0l0,5H5V5H19 M19,3H5C3.9,3,3,3.9,3,5v14c0,1.1,0.9,2,2,2h10l6-6V5C21,3.9,20.1,3,19,3z M12,14H7v-2h5V14z M17,10H7V8h10V10z"
            />
          </svg>
          <a
            mat-button
            (click)="OpenLastOrders()"
            style="margin-left: 5px; margin-bottom: 10px; cursor: pointer"
          >
            Last Orders
          </a>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-2 col-4 mr-2">
        <a class="ToolBarServices col-4 col-lg-1 col-md-2" id="Services">
          <img
            src="../../../assets/icons/contact.png"
            height="20px"
            width="20px"
          />
          Contact Us
          <div class="Content ServicesContent">
            <div class="ml-2">Call : +972 543596761</div>
            <div class="ml-2">Sms : helalali1@hotmail.com</div>
          </div></a
        >
      </div>
      <button
        mat-button
        class="col-md-6 col-2 col-md-2 col-lg-1"
        style="margin-left: 4%; color: black"
        (click)="SignOut()"
      >
        Sign Out
      </button>
    </mat-toolbar>

    <mat-sidenav-container
      class="example-sidenav-container ContainerMat"
      [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
      autosize
    >
      <mat-sidenav
        #scroll
        class="Side"
        #snav
        opened
        [mode]="mobileQuery.matches ? 'over' : 'side'"
        [fixedInViewport]="mobileQuery.matches"
        fixedTopGap="56"
      >
        <mat-nav-list style="padding-top: 0px">
          <div *ngIf="user[0]?.role === 'admin'" class="Cart">
            <button
              class="cancelButton"
              mat-icon-button
              (click)="snav.toggle(); showCartIcon = true"
            >
              <mat-icon style="font-size: 20px">cancel</mat-icon>
            </button>
            <app-productAction
              [product]="productToUpdate"
              (updateProductEvent)="editProduct($event)"
              (addNewProductEvent)="addNewProduct($event)"
            >
            </app-productAction>
            <h1>
              {{ actionState }}
            </h1>
          </div>

          <div
            *ngIf="user[0]?.role === 'user'"
            style="margin-left: 5px; background-color: rgb(255, 249, 249)"
          >
            <button
              class="cancelButton"
              mat-icon-button
              (click)="snav.toggle(); showCartIcon = true"
            >
              <mat-icon style="font-size: 20px">cancel</mat-icon>
            </button>
            <app-cart
              [userId]="this.user[0]._id"
              [cartId]="this.cartId"
            ></app-cart>
          </div>
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content style="overflow-x: hidden">
        <div>
          <div class="row mt-5" style="margin-left: 10%">
            <app-categories
              class="col-12 category"
              (categoryIdEvent)="getProducts($event, '_id')"
            ></app-categories>
          </div>
        </div>
        <div class="Sub mr-5">
          <!-- <app-slide-images class="SlideImages"></app-slide-images> -->

          <h1 class="Title mt-5">POPULAR PRODUCTS</h1>
          <h4>all products are available!!</h4>

          <!-- <br /> -->
        </div>
        <div *ngIf="showCartIcon === true" class="SideButton2">
          <mat-icon
            *ngIf="user[0]?.role === 'user'"
            (click)="snav.toggle(); showCartIcon = false"
            class="CartIcon"
            >shopping_cart</mat-icon
          >
          <mat-icon
            class="CartIcon"
            *ngIf="user[0]?.role === 'admin'"
            (click)="snav.toggle(); showCartIcon = false"
            >chrome_reader_mode</mat-icon
          >
        </div>

        <div class="container">
          <div class="row">
            <app-product
              class="col-lg-3 col-md-6 col-12 mt-5"
              *ngFor="let product of filterProducts"
              [product]="product"
              [cart]="cartId"
              (updateProductEvent)="getProductDetails($event)"
              (AddItemsToCartEvent)="addItemsToCart($event)"
            ></app-product>
          </div>
        </div>

        <div style="margin-top: 50px">
          <button class="NextAndPref" (click)="prev()" mat-button>
            <mat-icon>navigate_before</mat-icon>Prev
          </button>
          <button
            class="NextAndPref"
            (click)="next()"
            style="float: right"
            mat-button
          >
            Next <mat-icon>navigate_next</mat-icon>
          </button>
        </div>

        <div>
          <div class="categories-area section-padding40 gray-bg mt-5">
            <div class="container">
              <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div
                    class="single-cat mb-50 wow fadeInUp"
                    data-wow-duration="1s"
                    data-wow-delay=".2s"
                    style="
                      visibility: visible;
                      animation-duration: 1s;
                      animation-delay: 0.2s;
                      animation-name: fadeInUp;
                    "
                  >
                    <div class="cat-icon">
                      <img
                        src="../../../assets/icons/delivery.png"
                        alt=""
                        data-pagespeed-url-hash="1965786122"
                        onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                      />
                    </div>
                    <div class="cat-cap">
                      <h5>Fast &amp; Free Delivery</h5>
                      <p>Free delivery on all orders</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div
                    class="single-cat mb-50 wow fadeInUp"
                    data-wow-duration="1s"
                    data-wow-delay=".2s"
                    style="
                      visibility: visible;
                      animation-duration: 1s;
                      animation-delay: 0.2s;
                      animation-name: fadeInUp;
                    "
                  >
                    <div class="cat-icon">
                      <img
                        src="../../../assets/icons/credit-card.png"
                        alt=""
                        data-pagespeed-url-hash="2260286043"
                        onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                      />
                    </div>
                    <div class="cat-cap">
                      <h5>Secure Payment</h5>
                      <p>Free delivery on all orders</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div
                    class="single-cat mb-50 wow fadeInUp"
                    data-wow-duration="1s"
                    data-wow-delay=".4s"
                    style="
                      visibility: visible;
                      animation-duration: 1s;
                      animation-delay: 0.4s;
                      animation-name: fadeInUp;
                    "
                  >
                    <div class="cat-icon">
                      <img
                        src="../../../assets/icons/money-back-guarantee.png"
                        alt=""
                        data-pagespeed-url-hash="2554785964"
                        onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                      />
                    </div>
                    <div class="cat-cap">
                      <h5>Money Back Guarantee</h5>
                      <p>Free delivery on all orders</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div
                    class="single-cat mb-50 wow fadeInUp"
                    data-wow-duration="1s"
                    data-wow-delay=".5s"
                    style="
                      visibility: visible;
                      animation-duration: 1s;
                      animation-delay: 0.5s;
                      animation-name: fadeInUp;
                    "
                  >
                    <div class="cat-icon">
                      <img
                        src="../../../assets/icons/24-hours.png"
                        alt=""
                        data-pagespeed-url-hash="2849285885"
                        onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
                      />
                    </div>
                    <div class="cat-cap">
                      <h5>Online Support</h5>
                      <p>Free delivery on all orders</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
