.productsCard {
  margin-left: 20px;
}

.Menu {
  /* position: absolute;
  right: 0%;
  top: 0px;
  background-color: black;
  max-width: 1250px; */
  max-width: 100%;
  width: 1400px;
  /* position: fixed; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* margin-left: 300px; */
}
.toolbar {
  color: black;
  /* background-color: rgb(223, 56, 56); */
}

.All {
  color: rgb(89, 152, 194);
  margin-left: 300px;
  cursor: pointer;
  margin-top: 8px;
  /* top: 40px; */
  position: relative;
}

#sidenav {
  width: 250px;
}

.ExitButton {
  position: absolute;
  right: 10px;
}

.ContainerMat {
  position: relative;
  /* height: 1000px; */
  display: inline;
}
.Side {
  position: fixed;
  height: 100%;
}

.SideButton {
  position: absolute;
  left: 260px;
  /* background-color: chartreuse; */
  color: grey;
}
.SideButton2 {
  position: fixed;
  cursor: pointer;
  color: grey;

  /* margin-left: 100px; */
}
.cancelButton {
  margin-left: 260px;
  color: black;
  height: 32px;
}
.CartIcon {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  justify-content: center;
  font-size: 50px;
  margin-left: 10px;
  color: rgb(53, 51, 51);
}
.NextAndPref {
  font-size: 20px;
  background-color: none;
  background: none;
}

.mat-button-focus-overlay {
  background: none;
}
.ToolBarServices {
  margin-left: 30%;
  color: black;
  cursor: pointer;
}
.ToolBarA {
  margin-left: 2%;
  color: black;
  cursor: pointer;
}
.ToolBarA {
  margin-left: 2%;
  color: black;
  cursor: pointer;
}
.Content {
  display: none;
  background-color: black;
  opacity: 0.5;
  color: white;
  width: 300px;
}
td,
tr {
  margin-left: 20%;
}

#Delivery:hover .ContentDelievery {
  display: block;

  position: fixed;
  z-index: 100;
}

#Contact:hover .ContentContact {
  display: block;

  position: fixed;
  z-index: 100;
}
